<form [formGroup]="fileFilterForm">
    <mat-form-field>
        <mat-label>Files to include</mat-label>
        <input matInput type="text" placeholder="e.g. *.py, src/**/include" formControlName="include">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Files to exclude</mat-label>
        <input matInput type="text" placeholder="e.g. test_*, src/**/exclude" formControlName="exclude">
    </mat-form-field>
</form>
<div class="actions">
    <button mat-raised-button color="accent" (click)="startGame()">Start Game</button>
</div>

<mat-divider></mat-divider>

<h3>Explorer</h3>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle (click)="selectFile(node)" [class.selected]="node === selected">
        {{ node.name }}
    </mat-tree-node>

    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" class="tree">
        <div class="mat-tree-node">
            <button class="mat-toggle" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror tree-expand">
                    {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                </mat-icon>
            </button>
            {{ node.name }}
        </div>

        <div [class.tree-invisible]="!treeControl.isExpanded(node)" role="group">
            <ng-container matTreeNodeOutlet></ng-container>
        </div>
    </mat-nested-tree-node>
</mat-tree>
