$content-width: 300px;

:host {
    display: flex;
}

mat-tab-group {
    height: 100%;
}

:host ::ng-deep .mat-mdc-tab-labels {
    flex-direction: column;
}

.content {
    box-sizing: border-box;
    min-width: $content-width;
    max-width: $content-width;
    height: 100%;
    padding: 16px;
    overflow-y: auto;
}
